
<li id="comment-<%= comment._id %>" class="comment-item">
  <div class="comment-content">
    <% if (locals.user && locals.user.id == comment.user) { %>
      <div class="comment-actions">
        <a class="delete-comment-button" href="/comments/delete/<%= comment.id %>">Delete</a>
      </div>
    <% } %>
    <div class="comment-text">
      <%= comment.content %>
    </div>
    <div class="comment-info">
      <div class="comment-user">
        <small><strong><%= comment.user.name %></strong></small>
      </div>
      <div class="comment-likes">
        <% if (locals.user) { %>
          <a class="toggle-like-button" data-likes="<%= comment.likes.length %>"
            href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
            <small><span id="likes-count-<%= comment._id %>"></span><%= comment.likes.length %> Likes</small>
          </a>
        <% } else { %>  
          <small><%= comment.likes.length %> Likes</small>
        <% } %>
      </div>
    </div>
  </div>
</li>
